<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
        <script type="text/javascript" src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>
        <script type="text/javascript" src="src/js/isjs.js"></script>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- <script type="text/javascript" src="https://code.createjs.com/soundjs-0.6.2.min.js"></script> -->
        <!-- <script type="text/javascript" src="src/soundjs.min.js"></script> -->
        <link rel="stylesheet" href="src/lcars.css"></link>
        <script type="text/javascript" src="src/js/lcars.js"></script>
        <style>
            body{
                background:#fff;
            }
            .scrollable{
                overflow-y: scroll;
            }
            .sidebar-content{
                width:200px;
            }
            ::-webkit-scrollbar{
                width: 10px;
            }
            
            ::-webkit-scrollbar-track-piece{
                background-color: #FFF;
            }
            
            ::-webkit-scrollbar-thumb{
                background-color: #CBCBCB;
                outline: 2px solid #FFF;
                outline-offset: -2px;
                border: .1px solid #B7B7B7;
            }
            
            ::-webkit-scrollbar-thumb:hover{
                background-color: #909090;
            }
        </style>
    </head>
    <body>
        <div id="builder"  class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>LCARS Builder</h1> 
                    <h5>Panel</h5>   
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-1">
                    <label for="formWidth">Width</label>
                    <input type="number" step="100" min="100" class="form-control" id="formWidth" v-model="panel.width" v-on:keyup="savePanel"></input>
                </div>
                <div class="form-group col-1">
                    <label for="formHeight">Height</label>
                    <input type="number" step="100" min="100" class="form-control" id="formHeight" v-model="panel.height" v-on:keyup="savePanel"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" onclick="newSection()">
                        New Section
                    </button>
                    <h5>Components</h5>
                </div>
                <div class="col-10">                    
                    <div class="xxscrollable">
                        <div class="row">
                            <div class="col-12 py-4">
                                <h5 class="float-left">Section Body</h5>
                                <button type="button" class="btn btn-primary btn-sm float-right">Add Element</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card-deck">
                                    <div class="card" style="width: 18rem;" v-for="el in section.body">
                                        <div class="card-body">
                                            <h5 class="card-title">buttons (5x0)</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{el.type}}</h6>
                                            <p class="card-text">
                                                Rows: 5<br/>
                                                Cols: ['pill','pill']
                                            </p>
                                            <a href="#" class="card-link">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class=" pt-2">Source Code</h5>
                                <form>
                                    <div class="form-group">
                                        <!-- <textarea name="" id="sourceCode" cols="30" rows="10" class="form-control"></textarea> -->
                                        <pre id="sourceCode"></pre>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Modal -->
        <div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" v-if="showNewSection">
            <h5>Header</h5>
            <div class="row">
                <div class="form-group col-3">
                    <label for="sectionWidth">Width</label>
                    <input type="number" step="10" min="50" class="form-control" id="sectionWidth" v-model="section.width"></input>
                </div>
                <div class="form-group col-3">
                    <label for="headerHeight">Height</label>
                    <input type="number" step="10" min="50" class="form-control" id="headerHeight" v-model="section.header.height"></input>
                </div>
                <div class="form-group col-3">
                    <label for="headerLabel">Label</label>
                    <input class="form-control" id="headerLabel" v-model="section.header.label"></input>
                </div>
                <div class="form-group col-3">
                    <label for="headerMargin">Margin</label>
                    <input type="number" step="10" min="50" class="form-control" id="headerMargin" v-model="section.header.margin"></input>
                </div>
                <div class="form-group col-3">
                    <label for="headerColor">Color</label>
                    <select id="headerColor" class="custom-select custom-select-sm" v-model="section.header.color">
                        <option v-for="color in colors" v-bind:value="color.value">{{color.label}}</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" id="connect" name="connect" class="custom-control-input">
                        <label class="custom-control-label" for="connect">Connect</label>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="name">Round Corners</label>
                    <div class="row">
                        <div class="col">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" id="roundTopLeft" name="roundTopLeft" class="custom-control-input" v-model="section.header.rtl">
                                <label class="custom-control-label" for="roundTopLeft">Top Left</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" id="roundTopRight" name="roundTopRight" class="custom-control-input" v-model="section.header.rtr">
                                <label class="custom-control-label" for="roundTopRight">Top Right</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" id="roundBottomLeft" name="roundBottomLeft" class="custom-control-input" v-model="section.header.rbl">
                                <label class="custom-control-label" for="roundBottomLeft">Bottom Left</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" id="roundBottomRight" name="roundBottomRight" class="custom-control-input" v-model="section.header.rbr">
                                <label class="custom-control-label" for="roundBottomRight">Bottom Right</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
            <h5>Subheader</h5>
            <div class="row">
                <div class="form-group col-3">
                    <label for="subheaderColor">Color</label>
                    <select id="subheaderColor" class="custom-select custom-select-sm" v-model="section.subheader.color">
                        <option v-for="color in colors" v-bind:value="color.value">{{color.label}}</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <label for="subheaderHeight">Height</label>
                    <input type="number" step="5" min="15" class="form-control" id="subheaderHeight" v-model="section.subheader.height"></input>
                </div>
                <div class="form-group col-3">
                    <label for="subheaderLabel">Label</label>
                    <input id="subheaderLabel" class="form-control" v-model="section.subheader.label"></input>
                </div>
                <div class="form-group col-3">
                    <label for="subheaderAlignment">Alignment</label>                    
                    <select id="subheaderAlignment" class="custom-select custom-select-sm" v-model="section.subheader.alignment">
                        <option value="start">Start</option>
                        <option value="end" selected>End</option>
                    </select>
                </div> 
            </div>              
            <h5>Footer</h5>
            <div class="row">
                <div class="form-group col-3">
                    <label for="footerColor">Color</label>
                    <select id="footerColor" class="custom-select custom-select-sm" v-model="section.footer.color">
                        <option v-for="color in colors" v-bind:value="color.value">{{color.label}}</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <label for="footerHeight">Height</label>
                    <input type="number" step="5" min="15" class="form-control" id="footerHeight" v-model="section.footer.height"></input>
                </div>
                <div class="form-group col-3">
                    <label for="footerLabel">Label</label>
                    <input id="footerLabel" class="form-control" v-model="section.footer.label"></input>
                </div>
                <div class="form-group col-3">
                    <label for="footerAlignment">Alignment</label>
                    <select id="footerAlignment" class="custom-select custom-select-sm" v-model="section.footer.alignment">
                        <option value="start" selected>Start</option>
                        <option value="end">End</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-body" v-else>
            <h5>Body</h5>
            <div class="row">
                <div class="form-group col-3">
                    <label for="bodyElementType">Type</label>
                    <select id="bodyElementType" class="custom-select custom-select-sm"> <!--v-model="section.body[1].type"-->
                        <option value="joystick">Joystick</option>
                        <option value="buttongroup">Buttons</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" v-if="showNewSection" v-on:click="addSection">Save Section</button>
          <button type="button" class="btn btn-primary" v-if="showNewSection" v-on:click="addBody">Add Body</button>
          <button type="button" class="btn btn-primary" v-else v-on:click="saveBody">Save Body</button>
        </div>
      </div>
    </div>
  </div>
        </div>

        
        <script>
            let pan;
            
            let panelStartCode = '';
            let panelEndCode='   ]\n'+
                            '})';
            let sourceCode;
            let sections=[];
            let vm = new Vue({
                el:'#builder',
                data:{
                    showNewSection:true,
                    editSectionId:null,
                    panel:{
                        width:2500,
                        height:700
                    },
                    section:{
                        width:200,
                        header:{
                            height:200,
                            label:'',
                            color:'base',
                            margin:100,
                            rtl:0,
                            rtr:0,
                            rbr:0,
                            rbl:0
                        },
                        body:[],
                        subheader:{
                            color:'base',
                            height:30,
                            label:'',
                            alignment:'end'
                        },
                        footer:{
                            color:'base',
                            height:15,
                            label:'',
                            alignment:'end'
                        }
                    },
                    colors:[
                        {label:'Base',value:'base'},
                        {label:'Emphasis',value:'emphasis'},
                        {label:'Action',value:'action'},
                        {label:'Accent',value:'accent'},
                        {label:'Warning',value:'warning'},
                        {label:'Alert',value:'alert'},
                        {label:'Neutral',value:'neutral'}
                    ]
                },
                mounted: function(){
                    console.log('created')
                    pan = new LCARS_Panel({id:'canvas',width:this.panel.width,height:this.panel.height,debug:false});
                    pan.build();
                        panelStartCode = 'LCARS_Panel({\n'+
                            '   width:'+this.panel.width+',\n'+
                            '   height:'+this.panel.height+',\n'+
                            '   sections:[\n';
                    console.log(pan)
                },
                methods:{
                    savePanel:function(){
                        pan.width=this.panel.width;
                        pan.height=this.panel.height;
                        pan.build();
                        panelStartCode = 'LCARS_Panel({\n'+
                            '   width:'+vm.panel.width+',\n'+
                            '   height:'+vm.panel.height+',\n'+
                            '   sections:[\n';
                        addSectionsToPanel();
                    },
                    addSection: function(event){
                        this.showNewSection=true;
                        addSection();
                        $('#newSectionModal').modal('hide');
                    },
                    addBody:function(event){
                        this.showNewSection=false;
                        addSection();
                    },
                    saveBody:function(event){
                        $('#newSectionModal').modal('hide');
                        this.showNewSection=true;
                    }
                }
            })
            function resize()
            {
                var heights = window.innerHeight;
                // document.getElementById("sidebar").style.height = heights -170 + "px";
            }
            resize();
            window.onresize = function() {
                resize();
            };
            // let editSectionId;
            function newSection(){
                vm.editSectionId =null;
                $('#newSectionModal').modal('show');
            }
            function selectSection(event){
                vm.editSectionId = parseInt(event.currentTarget.name);
                console.log('editSectionId',vm.editSectionId);  
                vm.section=sections[vm.editSectionId];
                $('#newSectionModal').modal('show');
            }
            
            function addSection(){
                let sec = {
                    width:parseInt(vm.section.width),
                    header:{
                        label:vm.section.header.label,
                        height:parseInt(vm.section.header.height),
                        rtl:vm.section.header.rtl?30:0,
                        rtr:vm.section.header.rtr?30:0,
                        rbr:vm.section.header.rbr?30:0,
                        rbl:vm.section.header.rbl?30:0,
                        margin:parseInt(vm.section.header.margin),
                        color:vm.section.header.color
                    },
                    subheader:{
                        color:vm.section.subheader.color,
                        height:parseInt(vm.section.subheader.height),
                        label:vm.section.subheader.label,
                        alignment:vm.section.subheader.alignment
                    },
                    footer:{
                        color:vm.section.footer.color,
                        height:parseInt(vm.section.footer.height),
                        label:vm.section.footer.label,
                        alignment:vm.section.footer.alignment
                    }
                }
                if(vm.editSectionId!=null){
                    sections[vm.editSectionId]=sec;
                }else{
                    sections.push(sec);
                }
                
                console.log('sections',sections)
                addSectionsToPanel();
            }
            function addSectionsToPanel(){  
                sourceCode=panelStartCode;              
                pan.sections=[];
                for(let i=0;i<sections.length;i++){
                    let opt = sections[i];
                    let header=null;
                    let subheader=null;
                    let footer=null;
                    if(opt.header.height>0)
                        header = new LCARS_Header({color:pan.uiTheme[opt.header.color],radius:[opt.header.rtl,opt.header.rtr,opt.header.rbr,opt.header.rbl],text:opt.header.label,margin:[0,20,opt.header.margin,0],height:opt.header.height})
                    if(opt.subheader.height>0)
                        subheader = new LCARS_Subheader({color:pan.uiTheme[opt.subheader.color],text:opt.subheader.label,height:opt.subheader.height})
                    if(opt.footer.height>0)
                        footer = new LCARS_Footer({color:pan.uiTheme[opt.footer.color],text:opt.footer.label,height:opt.footer.height})
                    sourceCode+='       new LCARS_Section({\n'+
                                '           name:\''+String(i)+'\',\n'+
                                '           width:'+opt.width+',\n'+
                                '           header:new LCARS_Header({color:pan.uiTheme.'+opt.header.color+',radius:['+opt.header.rtl+','+opt.header.rtr+','+opt.header.rbr+','+opt.header.rbl+'],text:\''+opt.header.label+'\',margin:[0,20,'+opt.header.margin+',0],height:'+opt.header.height+'}),\n'+
                                '           body:[]\n'+
                                '       }),\n';
                    console.log('subheader',subheader)
                    let section = new LCARS_Section({
                        onClickFunction:selectSection,
                        name:String(i),
                        width:opt.width,
                        header:header,
                        body:[subheader,{type:''}],
                        footer:footer
                    });
                    pan.sections.push(section);
                    // console.log('stringify:',section.stringify());
                }            
                sourceCode+=panelEndCode;
                document.getElementById('sourceCode').innerHTML =sourceCode; //.value=sourceCode;    
                pan.build();
                console.log('sections',pan.sections);
            }
        </script>
    </body>
</html>